@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;500;700&family=Prosto+One&family=Trispace:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;

}

.container {
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background: #640303;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #fff;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  text-decoration: none;
}

.header__logo-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
}

.navbarBtn {
  color: white;
}

.header__list {
  display: flex;
  list-style: none;
}

.header__link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  margin-left: 30px;
  transition: all 0.5s;
}

.header__link-active,
.header__link:hover {
  color: white;
  text-shadow: 0 0 10px white;
}

.intro {
  background: url(../images/header1.jpg) no-repeat right / cover;
  width: 100%;
  height: 100vh;
}

.intro__block{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

}

.intro__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 120px;
  color: white;
  font-weight: bold;
  margin-bottom: 0;
  text-shadow: 0 0 10px white;
}

.intro__title__desc {
  font-size: 65px;
  color: white;
  text-transform: capitalize;
  margin-top: 0px;
  font-weight: 600;
}

.item__title {
  font-weight: bold;
  font-size: 45px;
  color: black;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.item {
  width: 100%;
  padding-top: 60px;

}

.item__img {
  border-radius: 8px;
  width: 100%;
  transition: all 0.5s;
}

.item__img:hover {
  transform: scale(1.1);
}

.info {
  margin-top: 60px;
}

.info__text {
  font-size: 18px;
  line-height: 1.5;
  color: black;
  font-weight: 600;
}

.info__text-items {
  font-weight: 600;
  font-size: 24px;
}

.image {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.row__container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.blocks {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.delevry {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 300px;
  height: 50px;
  background: #297fbe;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  text-transform: capitalize;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  color: white;
}

.delevry__text {
  margin-top: 40px;
  text-align: center;
  color: black;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
}

iframe {
  margin-top: 60px;
  line-height: 0;
}


.footer {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #640303;
  border-bottom: 2px solid #fff;

}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.footer__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__item-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-left: 0;

}

.footer__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  flex-direction: column;
}

.footer__list li {
  margin-bottom: 15px;
}

.footer__item-link {
  color: white;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
}

.footer__icon {
  font-size: 25px;
}

.footer__link {
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}

.address {
  margin-bottom: 0;
}

.footer__address {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.footer__item-link:hover,
.footer__link:hover {
  color: white;
}

.footer__item-list_tel {
  margin-right: 50px;
}
